{% extends 'grumblr/base1.html' %}
{% block title %}Grumblr: Comfirm Your Email{% endblock %}
{% load static %}
{% block hello %}{% endblock %}
{% block quickpost %}{% endblock %}
{% block userProfile %}{% endblock %}
{% block showUser %}{% endblock %}
{% block category %}{% endblock %}
{% block author %}{% endblock %}
{% block allPost %}{% endblock %}
{% block editForm %}
    <div class="row">
    <div class="col-md-3"><p>&nbsp;</p></div>
    <div class="col-md-6 w3-animate-right">
        <p >&nbsp;</p>
    <div class="w3-card-4">
        <header class="w3-container w3-blue">
        <h1>Thank you for register Grumblr :)</h1>
    </header>

<div class="w3-container w3-pale-blue">
    <p>&nbsp;</p>
  <p>Dear User:</p>
    <p>
    Aye you are almost there! There is only one step to do to be our member!
        We sent an email to you. Please check that email and verify your email address. Thanks!</p>
</div>

<footer class="w3-container w3-blue">
  <h5>From: Grumblr Team</h5>
</footer>
</div>
    </div>
    <div class="col-md-3">
        <h1>&nbsp;</h1>
    </div>
</div>
{% endblock %}
{% block categoryPost %}{% endblock %}
{% block followerStream %}{% endblock %}