{% extends 'grumblr/base1.html' %}
{% block title %}Grumblr: Followers' Stream{% endblock %}
{% load static %}
{% block hello %}
<div class="jumbopic w3-animate-zoom jumbotron w3-pale-blue">
    <h1 class="jumbText w3-lobster text-center" >Followers Stream :)</h1>
    <h4 class="w3-lobster textCenter text-center">Check Your Friends' Trends</h4>
</div>
{% endblock %}
{% block quickpost %}{% endblock %}
{% block userProfile %}{% endblock %}
{% block category %}{% endblock %}
{% block editForm %}{% endblock %}
{% block showUser %}{% endblock %}
{% block allPost %}{% endblock %}
{% block author %}{% endblock %}
{% block categoryPost %}{% endblock %}