{% extends 'grumblr/base1.html' %}
{% block title %}Grumblr: Reset Password{% endblock %}
{% load static %}
{% block hello %}123{% endblock %}
{% block quickpost %}{% endblock %}
{% block userProfile %}{% endblock %}
{% block showUser %}{% endblock %}
{% block category %}{% endblock %}
{% block author %}{% endblock %}
{% block allPost %}{% endblock %}
{% block editForm %}
    <div class="row">
    <div class="col-md-3"><p>&nbsp;</p></div>
    <div class="col-md-6 w3-animate-right">
        <p >&nbsp;</p>
    <div class="w3-container w3-card-4 w3-light-blue">
        <h2 class="w3-text">Reset Your Password</h2>
        <p>Forget Your Old Password? </p>
        <p>Don't Worry! You can reset your password simply by email verification! </p>
        <form method="post">
    {% csrf_token %}
     <label for = "email" class="w3-text"><b>Email: </b></label>
            <input class="w3-input w3-border" name="email" id = "email"  type="text" maxlength="100"/><br>
    <button type="submit" class="btn btn-info">Submit</button><br>&nbsp;
    <input type="hidden" name="next" value="{{ next }}" />
        </form>
</div>
    </div>
    <div class="col-md-3">
        <h1>&nbsp;</h1>
    </div>
</div>

{% endblock %}
{% block categoryPost %}{% endblock %}
{% block followerStream %}{% endblock %}
