{% extends 'grumblr/base1.html' %}
{% block title %}Grumblr: Reset Password Complete{% endblock %}
{% load static %}
{% block hello %}{% endblock %}
{% block quickpost %}{% endblock %}
{% block userProfile %}{% endblock %}
{% block showUser %}{% endblock %}
{% block category %}{% endblock %}
{% block author %}{% endblock %}
{% block allPost %}{% endblock %}
{% block editForm %}
    <div class="row">
    <div class="col-md-3"><p>&nbsp;</p></div>
    <div class="col-md-6 w3-animate-right">
        <p >&nbsp;</p>
    <div class="w3-card-4">
        <header class="w3-container w3-blue">
        <h1>You changed your password :)</h1>
    </header>

<div class="w3-container w3-pale-blue">
    <p>&nbsp;</p>
  <p>Dear User:</p>
    <p>Your password has been successfully set. You may go ahead and <a href="{% url 'login' %}"><button class="btn-info">sign in</button></a> now.</p>
    <p>Have a great day! Love ya~</p><br>
</div>

<footer class="w3-container w3-blue">
  <h5>From: Grumblr Team</h5>
</footer>
</div>
    </div>
    <div class="col-md-3">
        <h1>&nbsp;</h1>
    </div>
</div>
{% endblock %}
{% block categoryPost %}{% endblock %}
{% block followerStream %}{% endblock %}
