{% extends 'grumblr/base1.html' %}
{% block title %}Grumblr: Reset Password Done{% endblock %}
{% load static %}
{% block hello %}{% endblock %}
{% block quickpost %}{% endblock %}
{% block userProfile %}{% endblock %}
{% block showUser %}{% endblock %}
{% block category %}{% endblock %}
{% block author %}{% endblock %}
{% block allPost %}{% endblock %}
{% block editForm %}
    <div class="row">
    <div class="col-md-3"><p>&nbsp;</p></div>
    <div class="col-md-6 w3-animate-right">
        <p >&nbsp;</p>
    <div class="w3-card-4">
        <header class="w3-container w3-blue">
        <h1>Thanks! Please Check Your Email :)</h1>
    </header>

<div class="w3-container w3-pale-blue">
    <p>&nbsp;</p>
  <p>Dear User:</p>
    <p>We have sent you an email with a secret reset-password link. Please do not share this link with other people!</p>
    <p>After receiving that link, please reset your password as soon as possible! If you do not receive an email from us,
    please check your span folder. And make sure that you have entered the email address that you registered with. Thanks!</p>
    <p>Have a great day!</p><br>
</div>

<footer class="w3-container w3-blue">
  <h5>From: Grumblr Team</h5>
</footer>
</div>
    </div>
    <div class="col-md-3">
        <h1>&nbsp;</h1>
    </div>
</div>
{% endblock %}
{% block categoryPost %}{% endblock %}
{% block followerStream %}{% endblock %}