{% extends 'grumblr/base1.html' %}
{% block title %}Grumblr: Reset Password Confirm{% endblock %}
{% load static %}
{% block hello %}{% endblock %}
{% block quickpost %}{% endblock %}
{% block userProfile %}{% endblock %}
{% block showUser %}{% endblock %}
{% block category %}{% endblock %}
{% block author %}{% endblock %}
{% block allPost %}{% endblock %}
{% block editForm %}
    <div class="row">
    <div class="col-md-3"><p>&nbsp;</p></div>
    <div class="col-md-6 w3-animate-right">
        <p >&nbsp;</p>
    <div class="w3-card-4">
        <header class="w3-container w3-blue">
        <h2 class="w3-text">Set New Password</h2>
        <p>Great! Now you can set your new password :) </p><p>Please follow the instruction below and meet the requirements!</p>
        </header>
    <div class="w3-container w3-pale-blue">
        {% if validlink %}
     <form method="post">
     {% csrf_token %}
      {{ form.as_p }}
         <button type="submit" class="btn btn-info">Change password</button><br>&nbsp;
    </form>
        {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used or outdated.
      Please request a new password reset.
    </p>
  {% endif %}
    </div>
</div>
    <div class="col-md-3">
        <h1>&nbsp;</h1>
    </div>
</div>
    </div>

{% endblock %}
{% block categoryPost %}{% endblock %}
{% block followerStream %}{% endblock %}